body {
            -background-image: url('./img/phon.png'); /* Даём ссылку на изображение fon-face-xo.png */
            background-repeat: no-repeat; /* Убираем повторение изображения */
            background-size: cover; /* Изображение во весь экран */
            background-position: -10vw center; /* Изображение смещено на 200px в лево и выравнено по центру */
            background-color: black; /* Остальной фон чёрный */
            }
        .qwer {
        background-image: url('./img/phon-xcpro.png');
        -background-size: cover;
        background-repeat: no-repeat;
        background-position: 19vw center;
        -background-color: red;
        }
        }
        .one {
            display: grid;
            grid-template-columns: 9fr 7fr; /* Разделение экрана на столбики */
            height: 98vh; /* Высота */
            padding: 0px; /* Отступ */
            gap: 0px; /* Отступ между частями */

        }
        .two {
            display: grid;
            grid-template-rows: 25% 12.5% 15%; /* Разделение экрана на строки */
            height: 96vh; /* Высота */
            padding: 0px; /* Отступ */
            gap: 2px; /* Отступ между частями */
        }
        .three {
            padding: 0px;
            -text-align: center; /* Выравнивание */
            -background-color: red; /* Цвет фона */
        }
        .big-text {
            margin-top: 0; /* Убираем верхний отступ */
            line-height: 0.7; /* Увеличиваем отступ сверху */
            font-size: 5vw; /* Увеличиваем размер текста */
            font-weight: bold; /* Делаем жирным, как заголовок */
        }
        .lite-text {
            line-height: 2; /* Увеличиваем отступ сверху */
            padding-left: 8px; /* Увеличивает отступ слева */
        }
