body {
        .qwer {
        background-image: url('img/phon-xcpro.png'); /* Фон блока */
        background-repeat: no-repeat; /* Фон не повторяется */
        background-position: 19vw center; /* Смещение */
        }
        }
        .one {
            display: grid; /* Создаём сетку */
            grid-template-columns: 9fr 7fr; /* Разделение экрана на столбики */
            height: 98vh; /* Высота */
        }
        .two {
            display: grid; /* Создаём сетку */
            grid-template-rows: 25% 12.5% 15%; /* Разделение экрана на строки */
            height: 96vh; /* Высота */
            gap: 2px; /* Отступ между частями */
        }
        .three {
        }
        .big-text {
            margin-top: 0; /* Убираем верхний отступ */
            line-height: 0.7; /* Увеличиваем отступ сверху */
            font-size: 5vw; /* Увеличиваем размер текста */
            font-weight: bold; /* Делаем жирным, как заголовок */
        }
        .lite-text {
            line-height: 2; /* Увеличиваем отступ сверху */
            padding-left: 8px; /* Увеличивает отступ слева */
        }
